section{
    border: 1px solid black;
    padding: 10px 20px  ;
    margin: 0 auto;
    background-color: lightskyblue;
    width: 50%;
    border-radius: 10px;
}

table{
    margin: 0 auto;
    padding: 0 0 0 10px;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.label{
    margin: 0 0;
    padding: 0 0 0 10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.data{
    margin: 0 auto;
    padding: 0 0 0 10px ;
    border: 1px solid black;
    border-radius: 3px;
    width: 50%;
    font-size: 15px;
    text-align: left;
}


img
{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    width: 50%;
    margin-right: auto;
}

footer{
    margin: 0 auto;
    padding: 10px 0px 0 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
}

